<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/week2</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">432001</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Các entity class sẽ được quản lý bởi Hibernate -->
        <!-- Ví dụ: <mapping class="com.example.model.EntityClassName"/> -->
        <mapping class="vn.edu.iuh.fit.backend.models.Product"/>
        <mapping class="vn.edu.iuh.fit.backend.models.OrderDetail"/>
        <mapping class="vn.edu.iuh.fit.backend.models.Order"/>
        <mapping class="vn.edu.iuh.fit.backend.models.ProductPrice"/>
        <mapping class="vn.edu.iuh.fit.backend.models.Customer"/>
        <mapping class="vn.edu.iuh.fit.backend.models.Employee"/>
        <mapping class="vn.edu.iuh.fit.backend.models.ProductImage"/>


    </session-factory>
</hibernate-configuration>